# Arquivos temporários
*.tmp
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Firebase / PubliCopilot
PubliCopilot/env/
PubliCopilot/node_modules/
PubliCopilot/functions/functions_venv_old/
PubliCopilot/functions/functions_venv/
.firebase/

# Python
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/

# Arquivos de saída (serão gerados depois)
# *.html  # agora serão versionados
# *.docx
# *.xlsx

# Bases de dados pesadas
dados/
*.csv
*.pkl