# Arquivos temporários
*.tmp
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Firebase / PubliCopilot
PubliCopilot/env/
PubliCopilot/node_modules/
.firebase/

# Arquivos de saída (serão gerados depois)
# *.html  # agora serão versionados
# *.docx
# *.xlsx

# Bases de dados pesadas
dados/
*.csv
*.pkl